@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 168 33% 85%;
    --foreground: 32 94% 6%;
    --card: 168 33% 85%;
    --card-foreground: 32 94% 6%;
    --popover: 168 33% 85%;
    --popover-foreground: 32 94% 6%;
    --primary: 31 82% 20%;
    --primary-foreground: 48 43% 92%;
    --secondary: 40 89% 37%;
    --secondary-foreground: 32 94% 6%;
    --muted: 168 20% 90%;
    --muted-foreground: 32 30% 30%;
    --accent: 40 89% 37%;
    --accent-foreground: 32 94% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 20% 75%;
    --input: 168 20% 75%;
    --ring: 31 82% 20%;
    --radius: 0.5rem;
    --chart-1: 31 82% 20%;
    --chart-2: 40 89% 37%;
    --chart-3: 168 33% 70%;
    --chart-4: 31 50% 30%;
    --chart-5: 40 50% 45%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
